:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
  --textblue: rgb(67, 150, 218);
  --bgblue: rgb(49, 133, 201);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  color: black;
  background: rgb(233, 233, 233);
}

main {
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}

#haut img.logo {
  position: absolute;
  width: 10%;
}

.centerform {
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

/* HEADER */

header {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

header .title {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  letter-spacing: 2px;
}

header h1 {
  background-image: url(https://media.giphy.com/media/10Ua7rs9fxa8QE/giphy.gif);
  background-size: cover;
  color: transparent;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 0.85;
  font-family: "Poppins", sans-serif;
}

header h2 {
  font-family: "Poppins", sans-serif;
  color: var(--textblue);
  text-transform: uppercase;
  border-radius: 15px;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

header .titre ul {
  margin-top: 50px;
}

header ul li {
  display: inline;
  padding: 7px 10px;
  border-radius: 3px;
  background: rgb(233, 233, 233);
}

header ul li a:hover {
  background: var(--bgblue);
  color: white;
}

header ul li a {
  margin-top: 20px;
  border-radius: 10px;
  font-family: "Lora", serif;
  text-decoration: none;
  font-size: 18px;
  color: var(--textblue);
  transition: 0.35s ease-in-out;
  padding: 7px 10px;
}

header a img {
  width: 5%;
}

/* HEADER */

/* Barre de recherche */

form {
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: var(--rad);
}

input,
button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.8rem;
}

input[type="search"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
}

button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
}

input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

input:not(:placeholder-shown) + button {
  display: block;
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Barre de recherche */

#grid {
  margin-top: 300px;
  margin-bottom: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100px;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

#grid p,
#grid h2 {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

#grid h2 {
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
}

#grid p {
  font-family: "Lora", serif;
}

img {
  width: 100%;
}

/* SCROLL */

.scroll-wrap {
  display: flex;
  margin: 40px 0px 30px 0px;
  justify-content: center;
  width: 100%;
}

.cd-scrolling {
  width: 2%;
}

.cd-scrolling img {
  width: 100%;
}

.cd-scrolling img:hover {
  cursor: pointer;
}

/* FOOTER */

footer {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  gap: 2px;
  background: rgb(59, 151, 226);
  color: white;
  padding: 70px;
  align-items: center;
}

footer img {
  width: 60%;
}

footer ul {
  list-style-type: none;
  text-align: left;
}

footer ul li {
  line-height: 2;
}

/* FOOTER média */

.media {
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  right: 0;
  top: 1700px;
}

.media img {
  width: 30px;
}

.media li {
  padding: 10px;
}

.media li a {
  color: white;
  text-decoration: none;
}

.media .FB img,
.media .TW img {
  filter: grayscale(1);
}

.media .FB img:hover,
.media .TW img:hover {
  filter: grayscale(0);
}

/* COPYRIGHT */

#copyright {
  text-align: center;
  padding: 10px;
}

#copyright ul li {
  display: inline;
}
